
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300;1,400;1,500&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: 'Poppins', sans-serif;


}
html{
    zoom: 75%;
}


nav{
    grid-template-columns: 30% auto;
    border-bottom: 2px solid lightgray;
    z-index: 2;
}
.nav-link{
    /* font-size: 1.3rem; */
    color: white;
}


nav .btn{
    border-radius: 20px;
    font-size: 1.5rem;
    background-color: black;
    color: white;
}

.main-container{
    width: 60%;
    margin-left: 20%;
}

.main{
    display: grid;
    place-items: center;
    width: 100%;
    padding: 2rem;
}
.row{
    width: 70%;
    margin: 5rem;
}
.heroText h1{
    /* width: 80%; */
    font-size: 4.3rem;
    line-height: 1.5;
    font-weight: 700;
}

.herobutton{
    font-weight: light;
    font-size: 2rem;
    transition:.3s;
    border-radius: 20px;
    font-weight: 500;
    margin: 1rem 0;
    background: none;
}
.herobutton:hover{
    background: rgb(90 228 168);
    color: white;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.bg-blue{
    background: rgb(88, 88, 238) !important;
    border-radius: 20px;
}
.bg-blue:hover{
    background: rgb(255, 255, 255);
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.heroimg{
    width: 100%;
    height: 100%;
}

.registerPage h1{
    font-weight: bold;
    font-size: 4rem;
}

.hero-btn a:hover{
    color: white;
}

.badge{
    font-size: 1.3rem;
}
.register{
    width: 50%;
}
.register input{
    font-size: 1.8rem; 
    margin: 3rem 0;
    padding: 10px;
    border-radius: 1rem;
}
/* .register button{
    color: black;
} */

.btn-grp a{
    font-size: 1.5rem;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 18%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    background-color: #111; /* Black*/
    top: 100px; 
    z-index: 1;
    padding-top: 60px; /* Place content 60px from the top */
  }

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
  }

.main-content{
    margin-left: 20%;
    height: auto;
    display: grid;
    grid-template-columns: 70% auto;
    /* padding: 2rem; */
    place-items: center;
}
.graph{
    height: 100%;
    width: 100%;
    /* margin-right: 50px; */
}

.stock-graph{
    height: auto;
    width: 100%;
}


  .trade{
    width: 60%;
    margin-left: 27%;
  }
  .trade ul {
    list-style: none;
  }
  .trade .list {
    width: 100%;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
    z-index: 22;
    position: relative;

  }
  .trade  .list-items {
    padding: 10px 5px;
    top: 0;
    /* position: absolute; */
  }
  .trade  .list-items:hover {
    background-color: #dddddd;
  }


.wallet{
    width: 80%;
    margin-left:18%;
}

.wallet-info{
    display: flex;
    height: 20vh;
    width: 100%;
    align-items: center;    
    margin-bottom: 5rem;/* justify-content: space-around; */
}
.wallet-info div{
    width: 50%;
}

.total-cash{
    background-color: rgb(90 228 168);
    color: white;
    
}
.remaining-cash{
    background-color: rgb(140, 137, 137);
    color: white;
}

.table{
    width: 91%;
    margin: auto;
    margin-top: 8rem;
    font-size: 1.4rem;
}

.details{
    width: 50%;
    height: 100%;
    /* margin: 0 10px 0 70px; */
    font-size: 1.3rem;
    color: white;
}

.btn-grp{
    display: grid;
    width: 100%;
    place-items: center;
}
.js_copyright_label{
    display: none;
}