{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}




    <main class="container registerPage border border-5 mt-5 rounded  p-5">
        <h1 class="text-center">Change Password</h1>
    
                    <form action="/password" class="mt-5 register m-auto" method="post">
                        <div class="form-group">
                            <input autocomplete="off" autofocus class="form-control p-4" name="oldpass" placeholder="Old Password" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control p-4" name="newpass" placeholder="New Password" type="password">
                        </div>
                        <div class="form-group">
                            <input class="form-control p-4" name="confirm" placeholder="Confirm Password" type="password">
                        </div>
                       <div class="btn-grp">
                        <button  class="btn herobutton border-dark px-5" type="submit">Change</button>
                       </div>
                    </form>
                </div>
           
        <!-- </div> -->
        </main>
    
{% endblock %}